{% extends "base.html" %}


{% block info %}
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">注册</h3>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('main.index') }}">主页</a></li>
                        <li><p class="fs-18">/</p></li>
                        <li><p class="fs-18">注册</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_content %}
    <section class="register">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="flat-tabs">
                        <div class="content-tab">
                            <div class="content-inner">
                                <form action="register" method="post" enctype="multipart/form-data">

                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">邮箱 / Email
                                            <span class="fs-14">
                                            {% if form.email.errors %}
                                                <ul class="errors">
                                                {% for error in form.email.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </span>
                                        </label>
                                        {{ form.email }}

                                    </div>

                                    <div class="form-group">
                                        <label
                                        >用户名 / Username
                                            <span class="fs-14"
                                            > {% if form.username.errors %}
                                                <ul class="errors">
                                                {% for error in form.username.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}</span></label
                                        >
                                        {{ form.username }}

                                    </div>


                                    <div class="form-group">
                                        <label
                                        >密码 / Password
                                            <span>{% if form.password.errors %}
                                                <ul class="errors">
                                                {% for error in form.password.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}</span></label
                                        >
                                        {{ form.password }}

                                    </div>

                                    <div class="form-group">
                                        <label
                                        >确认密码 / Confirm Password
                                        </label
                                        >
                                        {{ form.password2 }}
                                    </div>


                                    <button type="submit" class="btn-action" , name="submit">
                                        注册
                                    </button>


                                    <div class="bottom">
                                        <p>Already have an account?</p>
                                        <a href="login.html">Login</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}