{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/timeline.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}

    <!-- PageTitle -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">本体详情</h3>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('main.index') }}">主页</a></li>
                        <li><p class="fs-18">/</p></li>
                        <li><p class="fs-18">本体详情</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End PageTitle -->

    <section class="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="blog-main">
                        <h3 class="title">
                            {{ ontology.name }}
                            {% if moderator != '无' %}
                                <img src="{{ url_for("static", filename='medal.png') }}"
                                     style="width: 40px; height:40px; margin-bottom: 10px; margin-left: 10px;">
                            {% endif %}
                        </h3>

                        <div class="meta">
                            <a href="#" class="category btn-action">{{ moderator }}</a>

                            <div class="meta-info">
                                <a href="#" class="name"><span></span>{{ ontology.owner }}</a>
                                <a href="#" class="time">{{ ontology.lastTime }}</a>
                            </div>
                        </div>
                        <div class="content">
                            <h5>简介</h5>
                            <p>
                                {{ ontology.intro }}
                            </p>

                        </div>

                        <div class="details-bottom">
                            <div class="tags">
                                <h6>Tags:</h6>
                                <ul>
                                    {% for tag in tags %}
                                        <li><a href="">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                {#          <div class="col-xl-4 col-md-12">#}
                {#            <div class="sidebar">#}
                {#              <div class="widget recent mt-0">#}
                {#                <h6 class="heading">你可能感兴趣的</h6>#}
                {##}
                {#                <ul>#}
                {#                  <li>#}
                {#                    <div class="image">#}
                {#                      <img src="assets/images/blog/blog-01.jpg" alt="" />#}
                {#                    </div>#}
                {#                    <div class="content">#}
                {#                      <a href="#" class="category">LEARN & EARN</a>#}
                {#                      <a href="" class="title"#}
                {#                        >Learn about UI8 coin and earn an All-Access Pass</a#}
                {#                      >#}
                {#                    </div>#}
                {#                  </li>#}
                {#                  <li>#}
                {#                    <div class="image">#}
                {#                      <img src="assets/images/blog/blog-01.jpg" alt="" />#}
                {#                    </div>#}
                {#                    <div class="content">#}
                {#                      <a href="#" class="category">LEARN & EARN</a>#}
                {#                      <a href="" class="title"#}
                {#                        >Learn about UI8 coin and earn an All-Access Pass</a#}
                {#                      >#}
                {#                    </div>#}
                {#                  </li>#}
                {#                  <li>#}
                {#                    <div class="image">#}
                {#                      <img src="assets/images/blog/blog-01.jpg" alt="" />#}
                {#                    </div>#}
                {#                    <div class="content">#}
                {#                      <a href="#" class="category">LEARN & EARN</a>#}
                {#                      <a href="" class="title"#}
                {#                        >Learn about UI8 coin and earn an All-Access Pass</a#}
                {#                      >#}
                {#                    </div>#}
                {#                  </li>#}
                {#                </ul>#}
                {#              </div>#}
                {##}
                {#              <div class="widget tags">#}
                {#                <h6 class="heading">Popular tags</h6>#}
                {##}
                {#                <ul>#}
                {#                  <li><a href="blog-grid-v1.html">Crypto</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">Virtual Land</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">Metaverse</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">NFT Marketplace</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">Token</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">NFTs</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">Bitcoin</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">Arts</a></li>#}
                {#                  <li><a href="blog-grid-v1.html">Wallet</a></li>#}
                {#                </ul>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}
            </div>
        </div>
    </section>


    <div class="container">
        <header>


            {% if (current_user and current_user.username == ontology.owner) or  (moderator != "等待认领中" and moderator != "无") %}
                <button style="display: inline; margin: auto 0; color: white" type="button" class="btn btn-primary"
                        onclick="window.location.href='{{ url_for('modify.index',ontology_id=ontology_id, moderator=moderator) }}'">
                    更新
                </button>
            {% endif %}

            <HR width="100%"
                color=#987cb9 SIZE=1>

        </header>

        <div class="ratio ratio-16x9">
            <iframe id="ifr"
                    src="{{ url_for('webOWL.blockOWL', filename=filename, target_id=1, owner=owner, ontology_id=ontology_id ) }}"></iframe>
        </div>
        <div class="container"></div>
        <div class="right">
            <p style="display: inline">手机用户点击全屏获得更佳体验</p>
            <img src="{{ url_for('static', filename='fullscreen.png') }}"
                 style="width: 40px; height: 40px; margin: 10px 0px 10px auto; display: inline;"
                 onclick="window.location.href='{{ url_for('webOWL.full_screen', filename=filename, target_id=target, owner=owner, ontology_id=ontology_id) }}' ">

        </div>

        <span class="vertical-timeline-element-icon bounce-in">
        <span class="badge badge-dot badge-dot-xl badge-success">ds</span>
    </span>
        <HR width="100%"
            color=#987cb9 SIZE=1>


        <div class="row d-flex justify-content-center mt-70 mb-70">

            <div class="col-md-12">

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">历史记录</h5>
                        <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            {% for v in version_list %}
                                {% if v['operate_type'] == '申请众包' %}
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div>
                                                        <span class="vertical-timeline-element-icon bounce-in">
                                                            <span class="badge badge-dot badge-dot-xl bg-success"> </span></span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="timeline-title">更新类型:{{ v['operate_type'] }}</h4>
                                                <p>{{ v['comment'] }} <br>
                                                    at <a href="" data-abc="true">{{ v['time'] }}</a> contribute by

                                                <a href="" data-abc="true">{{ v['operator'] }}</a>
                                                </p>

                                                <span class="vertical-timeline-element-date">{{ v['time'].strftime("%H:%M") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if v['operate_type'] == '修改' %}
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div>
                                                        <span class="vertical-timeline-element-icon bounce-in">
                                                            <span class="badge badge-dot badge-dot-xl bg-warning"> </span></span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="timeline-title">更新类型:{{ v['operate_type'] }}</h4>
                                                <p>{{ v['comment'] }} <br>
                                                    at <a href="" data-abc="true">{{ v['time'] }}</a> contribute by

                                                <a href="" data-abc="true">{{ v['operator'] }}</a>
                                                </p>

                                                <span class="vertical-timeline-element-date">{{ v['time'].strftime("%H:%M") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if v['operate_type'] == '增加' %}
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div>
                                                        <span class="vertical-timeline-element-icon bounce-in">
                                                            <span class="badge badge-dot badge-dot-xl bg-primary"> </span></span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="timeline-title">更新类型:{{ v['operate_type'] }}</h4>
                                                <p>{{ v['comment'] }} <br>
                                                    at <a href="" data-abc="true">{{ v['time'] }}</a> contribute by

                                                <a href="" data-abc="true">{{ v['operator'] }}</a>
                                                </p>

                                                <span class="vertical-timeline-element-date">{{ v['time'].strftime("%H:%M") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if v['operate_type'] == '删除' %}
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div>
                                                        <span class="vertical-timeline-element-icon bounce-in">
                                                            <span class="badge badge-dot badge-dot-xl bg-danger"> </span></span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="timeline-title">更新类型:{{ v['operate_type'] }}</h4>
                                                <p>{{ v['comment'] }} <br>
                                                    at <a href="" data-abc="true">{{ v['time'] }}</a> contribute by

                                                <a href="" data-abc="true">{{ v['operator'] }}</a>
                                                </p>

                                                <span class="vertical-timeline-element-date">{{ v['time'].strftime("%H:%M") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

        //绑定一次滚轮事件
        window.addEventListener('scroll', target, false);

        function target() {
            document.getElementById('ifr').contentWindow.document.getElementById('mybtn').click();
            window.removeEventListener('scroll', target, false);
        }

        //移动端
        window.addEventListener('touchend', target1, false);

        function target1() {
            document.getElementById('ifr').contentWindow.document.getElementById('mybtn').click();
            window.removeEventListener('touchend', target1, false);
        }

    </script>
{% endblock %}
