{% extends "base.html" %}


{% block navbar %}

    <!-- Header -->
    <header id="header_main" class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header__body d-flex justify-content-between">
                        <div class="header__left">
                            <div class="logo">
                                <a class="light" href="{{ url_for('main.index') }}">
                                    <img
                                        id="site-logo"
                                        src="{{ url_for('static', filename='onto.png') }}"
                                        alt=""
                                        width="40"
                                        height="40"
                                        data-retina="assets/images/logo/logo@2x.png"
                                        data-width="118"
                                        data-height="32"
                                    />
                                </a>
                                <a class="dark" href="{{ url_for('main.index') }}">
                                    <img
                                        src="{{ url_for('static', filename='onto.png') }}"
                                        alt=""
                                        width="40"
                                        height="40"
                                        data-retina="assets/images/logo/logo-dark@2x.png"
                                        data-width="118"
                                        data-height="32"
                                    />
                                </a>
                            </div>
                            <div class="left__main">
                                <nav id="main-nav" class="main-nav">
                                    <ul id="menu-primary-menu" class="menu">
                                        <li class="menu-item-has-children  my_m"
                                            onclick="change_nav(this)">
                                            <a href="{{ url_for('main.index') }}">主页 </a>
                                            {#                                        <ul class="sub-menu">#}
                                            {#                                            <li class="menu-item">#}
                                            {#                                                <a href="index.html">Home 01</a>#}
                                            {#                                            </li>#}
                                            {#                                            <li class="menu-item current-item">#}
                                            {#                                                <a href="home-v2.html">Home 02</a>#}
                                            {#                                            </li>#}
                                            {#                                            <li class="menu-item">#}
                                            {#                                                <a href="home-v3.html">Home 03</a>#}
                                            {#                                            </li>#}
                                            {#                                        </ul>#}
                                        </li>
                                        <li class="menu-item-has-children current-menu-item my_m">
                                            <a href="{{ url_for('recommend.recommend') }}">探索</a>

                                            {#                                            <ul class="sub-menu">#}
                                            {#                                                <li class="menu-item">#}
                                            {#                                                    <a href="buy-crypto-select.html"#}
                                            {#                                                    >Buy Crypto Select</a#}
                                            {#                                                    >#}
                                            {#                                                </li>#}
                                            {#                                                <li class="menu-item">#}
                                            {#                                                    <a href="buy-crypto-confirm.html"#}
                                            {#                                                    >Buy Crypto Confirm</a#}
                                            {#                                                    >#}
                                            {#                                                </li>#}
                                            {#                                                <li class="menu-item">#}
                                            {#                                                    <a href="buy-crypto-details.html"#}
                                            {#                                                    >Buy Crypto Details</a#}
                                            {#                                                    >#}
                                            {#                                                </li>#}
                                            {#                                            </ul>#}
                                        </li>
                                        <li class="menu-item-has-children  my_m">
                                            <a href="{{ url_for('upload.upload') }}">上传本体</a>
                                        </li>
{#                                        <li class="menu-item-has-children  my_m">#}
{#                                            <a href="{{ url_for('recommend.recommend') }}">搜索</a>#}
{#                                        </li>#}
                                    </ul>
                                </nav>
                                <!-- /#main-nav -->
                            </div>
                        </div>

                        <div class="header__right">

                            <div class="mode-switcher">
                                <a class="sun" href="#" onclick="switchTheme()">
                                    <svg
                                        width="16"
                                        height="16"
                                        viewBox="0 0 16 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7.99993 11.182C9.7572 11.182 11.1818 9.75745 11.1818 8.00018C11.1818 6.24291 9.7572 4.81836 7.99993 4.81836C6.24266 4.81836 4.81812 6.24291 4.81812 8.00018C4.81812 9.75745 6.24266 11.182 7.99993 11.182Z"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M8 1V2.27273"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M8 13.7271V14.9998"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M3.04956 3.04932L3.9532 3.95295"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M12.0469 12.0469L12.9505 12.9505"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M1 8H2.27273"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M13.7273 8H15"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M3.04956 12.9505L3.9532 12.0469"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M12.0469 3.95295L12.9505 3.04932"
                                            stroke="#23262F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </a>
                                <a href="#" class="moon" onclick="switchTheme()">
                                    <svg
                                        width="14"
                                        height="14"
                                        viewBox="0 0 14 14"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M13.0089 8.97241C12.7855 9.64616 12.4491 10.2807 12.0107 10.8477C11.277 11.7966 10.2883 12.5169 9.1602 12.9244C8.03209 13.3319 6.81126 13.4097 5.64056 13.1486C4.46987 12.8876 3.39772 12.2986 2.54959 11.4504C1.70145 10.6023 1.1124 9.53013 0.851363 8.35944C0.590325 7.18874 0.668097 5.96791 1.07558 4.8398C1.48306 3.71169 2.2034 2.72296 3.1523 1.9893C3.71928 1.55094 4.35384 1.21447 5.02759 0.991088C4.69163 1.84583 4.54862 2.77147 4.61793 3.7009C4.72758 5.17128 5.36134 6.55346 6.40394 7.59606C7.44654 8.63866 8.82873 9.27242 10.2991 9.38207C11.2285 9.45138 12.1542 9.30837 13.0089 8.97241Z"
                                            stroke="white"
                                            stroke-width="1.4"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </a>
                            </div>
                            <div class="dropdown notification">
                                <button
                                    class="btn dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton4"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <span class="icon-notification"></span>
                                </button>

                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton4"
                                >
                                    <div class="dropdown-item">
                                        <div class="media server-log">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-server"
                                            >
                                                <rect
                                                    x="2"
                                                    y="2"
                                                    width="20"
                                                    height="8"
                                                    rx="2"
                                                    ry="2"
                                                ></rect>
                                                <rect
                                                    x="2"
                                                    y="14"
                                                    width="20"
                                                    height="8"
                                                    rx="2"
                                                    ry="2"
                                                ></rect>
                                                <line x1="6" y1="6" x2="6" y2="6"></line>
                                                <line x1="6" y1="18" x2="6" y2="18"></line>
                                            </svg>
                                            <div class="media-body">
                                                <div class="data-info">
                                                    <h6 class="">Server Rebooted</h6>
                                                    <p class="">45 min ago</p>
                                                </div>

                                                <div class="icon-status">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="24"
                                                        height="24"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather feather-x"
                                                    >
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-item">
                                        <div class="media">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-heart"
                                            >
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                                                ></path>
                                            </svg>
                                            <div class="media-body">
                                                <div class="data-info">
                                                    <h6 class="">Licence Expiring Soon</h6>
                                                    <p class="">8 hrs ago</p>
                                                </div>

                                                <div class="icon-status">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="24"
                                                        height="24"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather feather-x"
                                                    >
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-item">
                                        <div class="media file-upload">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-file-text"
                                            >
                                                <path
                                                    d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                                                ></path>
                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                                <polyline points="10 9 9 9 8 9"></polyline>
                                            </svg>
                                            <div class="media-body">
                                                <div class="data-info">
                                                    <h6 class="">Kelly Portfolio.pdf</h6>
                                                    <p class="">670 kb</p>
                                                </div>

                                                <div class="icon-status">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="24"
                                                        height="24"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather feather-check"
                                                    >
                                                        <polyline points="20 6 9 17 4 12"></polyline>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-button"><span></span></div>
                            {% if current_user.is_authenticated %}
                                <div class="wallet">
                                    <a href="{{ url_for('main.user', username=current_user.username) }}"> 我的本体 </a>
                                </div>
                                <div class="dropdown_exit user">
                                    <button
                                        class="btn dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButton5"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <p>{{ current_user.username }}</p>
                                    </button>
                                    <div
                                        class="dropdown-menu"
                                        aria-labelledby="dropdownMenuButton5"
                                    >
                                        <a class="dropdown-item"
                                           href="{{ url_for('main.user', username=current_user.username) }}"
                                        ><i class="bx bx-user font-size-16 align-middle me-1"></i>
                                            <span>我的本体</span></a
                                        >
                                        <a class="dropdown-item" href="#"
                                        ><i
                                            class="bx bx-wallet font-size-16 align-middle me-1"
                                        ></i>
                                            <span>收藏夹</span></a
                                        >

{#                                        <a class="dropdown-item" href="#"#}
{#                                        ><i#}
{#                                            class="bx bx-lock-open font-size-16 align-middle me-1"#}
{#                                        ></i>#}
{#                                            <span>Lock screen</span></a#}
{#                                        >#}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}"
                                        ><i
                                            class="bx bx-power-off font-size-16 align-middle me-1 text-danger"
                                        ></i>
                                            <span>登出</span></a
                                        >
                                    </div>
                                </div>
                            {% else %}
                                <div class="dropdown_exit notification">
                                    <a href="{{ url_for('auth.login') }}">登录</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/listcard.css") }}"/>
{% endblock %}

{% block info %}
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">探索</h3>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('main.index') }}">主页</a></li>
                        <li><p class="fs-18">/</p></li>
                        <li><p class="fs-18">探索</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block page_content %}
    <div class="container">
    <br><br><br><br><br>
    <div class="section_our_solution">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="our_solution_category">
                    <div class="solution_cards_box">
                        {% for item in col1 %}
                            <div class="solution_card">
                                <div class="hover_color_bubble"></div>
                                <div class="so_top_icon">
                                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="50"
                                         viewBox="0 0 512 512"
                                         width="40" xmlns="http://www.w3.org/2000/svg">
                                    </svg>
                                </div>
                                <div class="solu_title">
                                    <h3 style="display: inline">{{ item[1] }}</h3>
                                    {% if item[3] != 0 %}
                                        <img src="{{ url_for("static", filename='medal.png') }}"
                                             style="width: 40px; height:40px; margin-bottom: 10px; margin-left: 10px;">
                                    {% endif %}
                                </div>
                                <div class="solu_description">
                                    <p>
                                        {{ item[2] }}
                                    </p>
                                    <button type="button" class="read_more_btn"
                                            onclick="window.location.href='{{ url_for('webOWL.ontology', ontology_id=item[0]) }}'">
                                        Read More
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="solution_cards_box sol_card_top_3">
                        {% for item in col2 %}
                            <div class="solution_card">
                                <div class="hover_color_bubble"></div>
                                <div class="so_top_icon">
                                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="50"
                                         viewBox="0 0 512 512"
                                         width="40" xmlns="http://www.w3.org/2000/svg">
                                    </svg>
                                </div>
                                <div class="solu_title">
                                    <h3 style="display: inline">{{ item[1] }}</h3>
                                    {% if item[3] != 0 %}
                                        <img src="{{ url_for("static", filename='medal.png') }}"
                                             style="width: 40px; height:40px; margin-bottom: 10px; margin-left: 10px;">
                                    {% endif %}
                                </div>
                                <div class="solu_description">
                                    <p>
                                        {{ item[2] }}
                                    </p>
                                    <button type="button" class="read_more_btn"
                                            onclick="window.location.href='{{ url_for('webOWL.ontology', ontology_id=item[0]) }}'">
                                        Read More
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="solution_cards_box sol_card_top_-3">
                        {% for item in col3 %}
                            <div class="solution_card">
                                <div class="hover_color_bubble"></div>
                                <div class="so_top_icon">
                                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="50"
                                         viewBox="0 0 512 512"
                                         width="40" xmlns="http://www.w3.org/2000/svg">
                                    </svg>
                                </div>
                                <div class="solu_title">
                                    <h3 style="display: inline">{{ item[1] }}</h3>
                                    {% if item[3] > 0 %}
                                        <img src="{{ url_for("static", filename='medal.png') }}"
                                             style="width: 40px; height:40px; margin-bottom: 10px; margin-left: 10px;">
                                    {% endif %}
                                </div>
                                <div class="solu_description">
                                    <p>
                                        {{ item[2] }}
                                    </p>
                                    <button type="button" class="read_more_btn"
                                            onclick="window.location.href='{{ url_for('webOWL.ontology',ontology_id=item[0]) }}'">
                                        Read More
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}