<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Onto本体众包平台</title>

        <!-- Style CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="dist/app.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="dist/magnific-popup.css") }}"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="dist/swiper-bundle.min.css") }}"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="dist/all.min.css") }}"/>
        <!-- End Style CSS -->

        <link rel="shortcut icon" href="{{ url_for('static', filename='onto.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='onto.ico') }}" type="image/x-icon">

    {% endblock %}

</head>
<body class="body header-fixed home-2">
{% block script %}
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap_v5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.peity.min.js') }}"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"#}
{#            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"#}
{#            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"#}
{#            crossorigin="anonymous"></script>#}
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/apexcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/switchmode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

    <!-- Swiper JS -->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 10,
            slidesPerView: 3,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".mySwiper2", {
            spaceBetween: 10,

            thumbs: {
                swiper: swiper,
            },
        });

        var swiper3 = new Swiper(".swiper-partner", {
            breakpoints: {
                0: {
                    slidesPerView: 2,
                    spaceBetween: 30,
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 60,
                },
            },
            slidesPerView: 4,
        });
    </script>

    <script>

    //app_extend_script

    function subscribe(user_id, ontology_id) {
                $.get("{{ url_for('main.subscribe')}}", {ontology_id: ontology_id, user_id:user_id}, function (res) {
                        alert(res)
                });

            };

    </script>
{% endblock %}


{% block navbar %}

    <!-- Header -->
    <header id="header_main" class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header__body d-flex justify-content-between">
                        <div class="header__left">
                            <div class="logo">
                                <a class="light" href="{{ url_for('main.index') }}">
                                    <img
                                            id="site-logo"
                                            src="{{ url_for('static', filename='onto.png') }}"
                                            alt=""
                                            width="40"
                                            height="40"
                                            data-retina="assets/images/logo/logo@2x.png"
                                            data-width="118"
                                            data-height="32"
                                    />
                                </a>
                                <a class="dark" href="{{ url_for('main.index') }}">
                                    <img
                                            src="{{ url_for('static', filename='onto.png') }}"
                                            alt=""
                                            width="40"
                                            height="40"
                                            data-retina="assets/images/logo/logo-dark@2x.png"
                                            data-width="118"
                                            data-height="32"
                                    />
                                </a>
                            </div>
                            <div class="left__main">
                                <nav id="main-nav" class="main-nav">
                                    <ul id="menu-primary-menu" class="menu">
                                        <li class="menu-item-has-children current-menu-item my_m"
                                            onclick="change_nav(this)">
                                            <a href="{{ url_for('main.index') }}">主页 </a>
                                            {#                                        <ul class="sub-menu">#}
                                            {#                                            <li class="menu-item">#}
                                            {#                                                <a href="index.html">Home 01</a>#}
                                            {#                                            </li>#}
                                            {#                                            <li class="menu-item current-item">#}
                                            {#                                                <a href="home-v2.html">Home 02</a>#}
                                            {#                                            </li>#}
                                            {#                                            <li class="menu-item">#}
                                            {#                                                <a href="home-v3.html">Home 03</a>#}
                                            {#                                            </li>#}
                                            {#                                        </ul>#}
                                        </li>
                                        <li class="menu-item-has-children  my_m">
                                            <a href="{{ url_for('recommend.recommend') }}">探索</a>

                                            {#                                            <ul class="sub-menu">#}
                                            {#                                                <li class="menu-item">#}
                                            {#                                                    <a href="buy-crypto-select.html"#}
                                            {#                                                    >Buy Crypto Select</a#}
                                            {#                                                    >#}
                                            {#                                                </li>#}
                                            {#                                                <li class="menu-item">#}
                                            {#                                                    <a href="buy-crypto-confirm.html"#}
                                            {#                                                    >Buy Crypto Confirm</a#}
                                            {#                                                    >#}
                                            {#                                                </li>#}
                                            {#                                                <li class="menu-item">#}
                                            {#                                                    <a href="buy-crypto-details.html"#}
                                            {#                                                    >Buy Crypto Details</a#}
                                            {#                                                    >#}
                                            {#                                                </li>#}
                                            {#                                            </ul>#}
                                        </li>
                                        <li class="menu-item-has-children  my_m">
                                            <a href="{{ url_for('upload.upload') }}">上传本体</a>
                                        </li>
                                        <li class="menu-item-has-children  my_m">
                                            <a href="{{ url_for('recommend.recommend') }}">搜索</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /#main-nav -->
                            </div>
                        </div>

                        <div class="header__right">

                            <div class="mode-switcher">
                                <a class="sun" href="#" onclick="switchTheme()">
                                    <svg
                                            width="16"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M7.99993 11.182C9.7572 11.182 11.1818 9.75745 11.1818 8.00018C11.1818 6.24291 9.7572 4.81836 7.99993 4.81836C6.24266 4.81836 4.81812 6.24291 4.81812 8.00018C4.81812 9.75745 6.24266 11.182 7.99993 11.182Z"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M8 1V2.27273"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M8 13.7271V14.9998"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M3.04956 3.04932L3.9532 3.95295"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M12.0469 12.0469L12.9505 12.9505"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M1 8H2.27273"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M13.7273 8H15"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M3.04956 12.9505L3.9532 12.0469"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                        <path
                                                d="M12.0469 3.95295L12.9505 3.04932"
                                                stroke="#23262F"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </a>
                                <a href="#" class="moon" onclick="switchTheme()">
                                    <svg
                                            width="14"
                                            height="14"
                                            viewBox="0 0 14 14"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M13.0089 8.97241C12.7855 9.64616 12.4491 10.2807 12.0107 10.8477C11.277 11.7966 10.2883 12.5169 9.1602 12.9244C8.03209 13.3319 6.81126 13.4097 5.64056 13.1486C4.46987 12.8876 3.39772 12.2986 2.54959 11.4504C1.70145 10.6023 1.1124 9.53013 0.851363 8.35944C0.590325 7.18874 0.668097 5.96791 1.07558 4.8398C1.48306 3.71169 2.2034 2.72296 3.1523 1.9893C3.71928 1.55094 4.35384 1.21447 5.02759 0.991088C4.69163 1.84583 4.54862 2.77147 4.61793 3.7009C4.72758 5.17128 5.36134 6.55346 6.40394 7.59606C7.44654 8.63866 8.82873 9.27242 10.2991 9.38207C11.2285 9.45138 12.1542 9.30837 13.0089 8.97241Z"
                                                stroke="white"
                                                stroke-width="1.4"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </a>
                            </div>
                            <div class="dropdown notification">
                                <button
                                        class="btn dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButton4"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    <span class="icon-notification"></span>
                                </button>

                                <div
                                        class="dropdown-menu"
                                        aria-labelledby="dropdownMenuButton4"
                                >
                                    <div class="dropdown-item">
                                        <div class="media server-log">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-server"
                                            >
                                                <rect
                                                        x="2"
                                                        y="2"
                                                        width="20"
                                                        height="8"
                                                        rx="2"
                                                        ry="2"
                                                ></rect>
                                                <rect
                                                        x="2"
                                                        y="14"
                                                        width="20"
                                                        height="8"
                                                        rx="2"
                                                        ry="2"
                                                ></rect>
                                                <line x1="6" y1="6" x2="6" y2="6"></line>
                                                <line x1="6" y1="18" x2="6" y2="18"></line>
                                            </svg>
                                            <div class="media-body">
                                                <div class="data-info">
                                                    <h6 class="">Server Rebooted</h6>
                                                    <p class="">45 min ago</p>
                                                </div>

                                                <div class="icon-status">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-x"
                                                    >
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-item">
                                        <div class="media">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-heart"
                                            >
                                                <path
                                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                                                ></path>
                                            </svg>
                                            <div class="media-body">
                                                <div class="data-info">
                                                    <h6 class="">Licence Expiring Soon</h6>
                                                    <p class="">8 hrs ago</p>
                                                </div>

                                                <div class="icon-status">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-x"
                                                    >
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-item">
                                        <div class="media file-upload">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-file-text"
                                            >
                                                <path
                                                        d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                                                ></path>
                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                                <polyline points="10 9 9 9 8 9"></polyline>
                                            </svg>
                                            <div class="media-body">
                                                <div class="data-info">
                                                    <h6 class="">Kelly Portfolio.pdf</h6>
                                                    <p class="">670 kb</p>
                                                </div>

                                                <div class="icon-status">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-check"
                                                    >
                                                        <polyline points="20 6 9 17 4 12"></polyline>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-button"><span></span></div>
                            {% if current_user.is_authenticated %}
                                <div class="wallet">
                                    <a href="{{ url_for('main.user', username=current_user.username) }}"> 我的本体 </a>
                                </div>
                                <div class="dropdown_exit user">
                                    <button
                                            class="btn dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton5"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                    >
                                        <p>{{ current_user.username }}</p>
                                    </button>
                                    <div
                                            class="dropdown-menu"
                                            aria-labelledby="dropdownMenuButton5"
                                    >
                                        <a class="dropdown-item"
                                           href="{{ url_for('main.user', username=current_user.username) }}"
                                        ><i class="bx bx-user font-size-16 align-middle me-1"></i>
                                            <span>我的本体</span></a
                                        >
                                        <a class="dropdown-item" href="#"
                                        ><i
                                                class="bx bx-wallet font-size-16 align-middle me-1"
                                        ></i>
                                            <span>收藏夹</span></a
                                        >
                                        <a class="dropdown-item d-block" href="#"
                                        ><span class="badge bg-success float-end">11</span
                                        ><i
                                                class="bx bx-wrench font-size-16 align-middle me-1"
                                        ></i>
                                            <span>消息</span></a
                                        >
                                        <a class="dropdown-item" href="#"
                                        ><i
                                                class="bx bx-lock-open font-size-16 align-middle me-1"
                                        ></i>
                                            <span>Lock screen</span></a
                                        >
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}"
                                        ><i
                                                class="bx bx-power-off font-size-16 align-middle me-1 text-danger"
                                        ></i>
                                            <span>登出</span></a
                                        >
                                    </div>
                                </div>
                            {% else %}
                                <div class="dropdown_exit notification">
                                    <a href="{{ url_for('auth.login') }}">登录</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block  info %}

{% endblock %}
<!-- end Header -->



{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

{% block page_content %}{% endblock %}


<footer class="footer border-top" style="margin-top: 100px">
    <div class="container " style="padding-top: 20px">
        <div class="footer__main">
            <div class="row">
                <div class="col-xl-4 col-md-8">
                    <div class="info">
                        <a href="{{ url_for('main.index') }}" class="logo">
                            <img src="{{ url_for('static', filename='onto.png') }}" alt=""
                                 style="width: 100px;height: 100px"; />
                        </a>
                        <h6>联系我们! 🤙</h6>
                        <ul class="list">
                            <li><p>187 6837 9520</p></li>
                            <li><p>10204507414@stu.ecnu.edu.cn</p></li>
                            <li>
                                <p>
                                    华东师范大学 教育信息技术学系
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="widget-link s1">
                        <h6 class="title">PRODUCTS</h6>
                        <ul>
                            <li><a href="spot.html">Spot</a></li>
                            <li><a href="#">Inverse Perpetual</a></li>
                            <li><a href="#">USDT Perpetual</a></li>
                            <li><a href="exchange.html">Exchange</a></li>
                            <li><a href="#">Launchpad</a></li>
                            <li><a href="#">Binance Pay</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="widget-link s2">
                        <h6 class="title">SERVICES</h6>
                        <ul>
                            <li><a href="buy-crypto-select.html">Buy Crypto</a></li>
                            <li><a href="markets.html">Markets</a></li>
                            <li><a href="#">Tranding Fee</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                            <li><a href="#">Referral Program</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="widget-link s3">
                        <h6 class="title">SUPPORT</h6>
                        <ul>
                            <li><a href="#">Bybit Learn</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="user-profile.html">User Feedback</a></li>
                            <li><a href="#">Submit a request</a></li>
                            <li><a href="#">API Documentation</a></li>
                            <li><a href="#">Trading Rules</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="widget-link s4">
                        <h6 class="title">ABOUT US</h6>
                        <ul>
                            <li><a href="#">About Bybit</a></li>
                            <li><a href="#">Authenticity Check</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Business Contacts</a></li>
                            <li><a href="blog-default.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg">
        <div class="footer__bottom">
            <p>Copyright © 2022 ONTO</p>
        </div>
    </div>
</footer>


</body>
</html>