{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        h2 {
            text-align: center;
            padding: 20px 0;
        }

        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }

        .p {
            text-align: center;
            padding-top: 140px;
            font-size: 14px;
        }
    </style>
{% endblock %}


{% block page_content %}
    <h2>本体审核</h2>
    <div class="container">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">待办
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">通过
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">驳回
                </button>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% for key in list_dict[0] %}
                    {% set lists = list_dict[0][key] %}
                    <div class="accordion" id="accordion{{ key }}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ key }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ key }}"
                                        aria-expanded="true" aria-controls="collapse{{ key }}">
                                    <h4>{{ key }}</h4>
                                </button>
                            </h2>
                            <div id="collapse{{ key }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{ key }}"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>申请类型</th>
                                                    <th>本体</th>
                                                    <th>发起时间</th>
                                                    <th>申请备注</th>
                                                    <th>文件下载</th>
                                                    <th>在线预览</th>
                                                    <th>发起人</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for list in lists %}
                                                    <tr>
                                                        <td>{% if list.type == 1 %}
                                                            修改
                                                        {% elif list.type == 2 %}
                                                            更新
                                                        {% elif list.type == 3 %}
                                                            删除
                                                        {% else %}
                                                            申请众包
                                                        {% endif %} </td>
                                                        <td>{{ list.name }}</td>
                                                        <td><p>{{ list.time_stamp }}</p></td>
                                                        <td>{{ list.comment }}</td>
                                                        <td>
                                                            {% if list.type == 0 %}
                                                                <button onclick="window.location.href='{{ url_for('moderator.download_file', filename=list.filename, ontology_id=list.ontology_id, isTemp=False) }}'">
                                                                    下载
                                                                </button>
                                                            {% else %}
                                                                <button onclick="window.location.href='{{ url_for('moderator.download_file', filename=list.filename, ontology_id=list.ontology_id, isTemp=True) }}'">
                                                                    下载
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <button>预览</button>
                                                        </td>
                                                        <td>{{ list.from_user }}</td>
                                                        <td>
                                                            <p>
                                                                <button class="btn btn-primary" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapse{{ list.id }}_pass"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    通过
                                                                </button>
                                                                <button class="btn btn-primary" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapse{{ list.id }}_refuse"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                    驳回
                                                                </button>
                                                            </p>
                                                            <form action="/moderator/pass" method="post"
                                                                  enctype="multipart/form-data">
                                                                <input value="{{ list.id }}" style="display: none"
                                                                       name="modify_id">
                                                                <div class="collapse" id="collapse{{ list.id }}_pass"
                                                                     style="text-align: right">
                                                                    <div class="card card-body">
                                                                        请填写备注
                                                                        <textarea class="form-control"
                                                                                  name="pass_info"
                                                                                  rows="3"
                                                                                  placeholder="输入备注"></textarea>
                                                                    </div>
                                                                    <button class="btn btn-primary" type="submit"
                                                                            aria-expanded="false"
                                                                            style="margin-top: 5px">
                                                                        提交
                                                                    </button>
                                                                </div>
                                                            </form>

                                                            <form action="/moderator/reject" method="post"
                                                                  enctype="multipart/form-data">
                                                                <input value="{{ list.id }}" style="display: none"
                                                                       name="modify_id">
                                                                <div class="collapse" id="collapse{{ list.id }}_refuse"
                                                                     style="text-align: right">
                                                                    <div class="card card-body">
                                                                        请填写驳回理由
                                                                        <textarea class="form-control"
                                                                                  name="reject_info"
                                                                                  rows="3"
                                                                                  placeholder="输入你的拒绝理由"></textarea>
                                                                    </div>
                                                                    <button class="btn btn-primary" type="submit"
                                                                            aria-expanded="false"
                                                                            style="margin-top: 5px">
                                                                        提交
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% for key in list_dict[1] %}
                    {% set lists = list_dict[1][key] %}
                    <div class="accordion" id="accordion{{ key }}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ key }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ key }}"
                                        aria-expanded="true" aria-controls="collapse{{ key }}">
                                    <h4>{{ key }}</h4>
                                </button>
                            </h2>
                            <div id="collapse{{ key }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{ key }}"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>申请类型</th>
                                                    <th>本体</th>
                                                    <th>发起时间</th>
                                                    <th>申请备注</th>
                                                    <th>文件下载</th>
                                                    <th>在线预览</th>
                                                    <th>发起人</th>
                                                    <th>审理信息</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for list in lists %}
                                                    <tr>
                                                        <td>{% if list.type == 1 %}
                                                            修改
                                                        {% elif list.type == 2 %}
                                                            更新
                                                        {% elif list.type == 3 %}
                                                            删除
                                                        {% else %}
                                                            申请众包
                                                        {% endif %} </td>
                                                        <td>{{ list.name }}</td>
                                                        <td><p>{{ list.time_stamp }}</p></td>
                                                        <td>{{ list.comment }}</td>
                                                        <td>
                                                            {% if list.type == 0 %}
                                                                <button onclick="window.location.href='{{ url_for('moderator.download_file', filename=list.filename, ontology_id=list.ontology_id, isTemp=False) }}'">
                                                                    下载
                                                                </button>
                                                            {% else %}
                                                                <button onclick="window.location.href='{{ url_for('moderator.download_file', filename=list.filename, ontology_id=list.ontology_id, isTemp=True) }}'">
                                                                    下载
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <button>预览</button>
                                                        </td>
                                                        <td>{{ list.from_user }}</td>
                                                        <td>{{ list.back_info }}</td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                {% for key in list_dict[2] %}
                    {% set lists = list_dict[2][key] %}
                    <div class="accordion" id="accordion{{ key }}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ key }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ key }}"
                                        aria-expanded="true" aria-controls="collapse{{ key }}">
                                    <h4>{{ key }}</h4>
                                </button>
                            </h2>
                            <div id="collapse{{ key }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{ key }}"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>申请类型</th>
                                                    <th>本体</th>
                                                    <th>发起时间</th>
                                                    <th>申请备注</th>
                                                    <th>文件下载</th>
                                                    <th>在线预览</th>
                                                    <th>发起人</th>
                                                    <th>审理信息</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for list in lists %}
                                                    <tr>
                                                        <td>{% if list.type == 1 %}
                                                            修改
                                                        {% elif list.type == 2 %}
                                                            更新
                                                        {% elif list.type == 3 %}
                                                            删除
                                                        {% else %}
                                                            申请众包
                                                        {% endif %} </td>
                                                        <td>{{ list.name }}</td>
                                                        <td><p>{{ list.time_stamp }}</p></td>
                                                        <td>{{ list.comment }}</td>
                                                        <td>
                                                            {% if list.type == 0 %}
                                                                <button onclick="window.location.href='{{ url_for('moderator.download_file', filename=list.filename, ontology_id=list.ontology_id, isTemp=False) }}'">
                                                                    下载
                                                                </button>
                                                            {% else %}
                                                                <button onclick="window.location.href='{{ url_for('moderator.download_file', filename=list.filename, ontology_id=list.ontology_id, isTemp=True) }}'">
                                                                    下载
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <button>预览</button>
                                                        </td>
                                                        <td>{{ list.from_user }}</td>
                                                        <td>{{ list.back_info }}</td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %}