{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/listcard.css") }}"/>
{% endblock %}


{% block info %}
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">本体众包:{{ name }}</h3>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('main.index') }}">主页</a></li>
                        <li><p class="fs-18">/</p></li>
                        <li><p class="fs-18">{{ name }}</p></li>
                        <li><p class="fs-18">/</p></li>
                        <li><p class="fs-18">本体众包</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="container">
            <form action="/modify" method="post" enctype="multipart/form-data">
                <input style="display: none" value="{{ refer }}" name="refer">
                <div class="mb-5">
                    <br>
                    <a href="" style="font-style: italic">审核员: {{ moderator }}</a>
                    <br>

                    <br><br>

                </div>

                <div class="mb-5">
                    <div class="mb-5">
                    <a href="" style="font-size: 20px">上传更新本体</a>
                </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="update_file">
                    </div>
                </div>


                <div class="mb-5">
                    <div class="mb-5">
                        <br>
                    <a href="" style="font-size: 20px">更新类型</a>
                </div>
                    <select class="form-select" aria-label="Default select example" name="update_type">
                        <option selected>选择类型</option>
                        <option value="1">修改</option>
                        <option value="2">增加</option>
                        <option value="3">删除</option>
                    </select>
                </div>


                <div class="mb-5">
                    <div class="mb-5">
                        <br>
                    <a href="" style="font-size: 20px">更新信息</a>
                </div>
                    <textarea class="form-control" name="info" rows="6" placeholder="请具体说明更改内容！管理员将进行审核！"></textarea>
                </div>

                <input type="text" name="values"
                       value="{&quot;name&quot;:&quot;{{ name }}&quot;, &quot;moderator&quot;:&quot;{{ moderator }}&quot;}"
                       style="display: none">

                <br>
                <button type="submit" class="btn btn-primary" style="color: white; float: right">提交</button>
            </form>

        </div>
    </div>
{% endblock %}