{% extends "base.html" %}

 {% block script %}
        {{ super() }}
        <script>
            // 删除card
            function delete_card(id) {
                const e = document.getElementById(id);
                e.remove();
                const onto_id = e.id.toString().replace("card", "");
                $.get("{{ url_for('main.delete') }}", {ontology_id: onto_id}, function (res) {
                    if (res == "ok") {
                    } else {
                        alert("error")
                    }
                });

            }

            function crowdsources(id) {
                $.get("{{ url_for('main.crowdsources') }}", {ontology_id: id}, function (res) {
                    if (res == "ok") {
                        location.reload();
                    } else {
                        alert("error")
                    }
                });
            }
        </script>
    {% endblock %}

{% block info %}
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">{{ user.username }}的本体</h3>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('main.index') }}">主页</a></li>
                        <li><p class="fs-18">/</p></li>
                        <li><p class="fs-18">我的本体</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_content %}



    <h1 class="text-white"></h1>
    <div class="container py-5">

        <header class="text-center text-white">
            <h1 class="display-4">本体列表</h1>
        </header>

        <div class="py-5">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    {% for ontology in ontologies %}
                        <div class="card shadow mb-4" id="card{{ ontology.id }}">
                            <div class="card-body shadow-sm p-5">
                                <!-- Arrow breadcrumb-->
                                <nav aria-label="breadcrumb" style="text-align: right">
                                    <ol class="breadcrumb breadcrumb-arrow p-0">
                                        <li class="breadcrumb-item"><a
                                                href="{{ url_for('webOWL.ontology', ontology_id=ontology.id) }}"
                                                class="text-uppercase pl-3">{{ ontology.name }}</a>
                                            <span></span>
                                            {% if ontology.moderator_id > 0 %}
                                                <img src="{{ url_for("static", filename='medal.png') }}"
                                                     style="width: 40px; height:40px;">
                                            {% endif %}
                                        </li>

                                    </ol>
                                {% if current_user.username == user.username %}
                                    <!-- 删除按钮 -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#label{{ ontology.id }}" style="color: white">
                                        删除
                                    </button>

                                    <!-- 删除model -->
                                    <div class="modal fade" id="label{{ ontology.id }}" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1"
                                         aria-labelledby="label{{ ontology.id }}Label"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="label{{ ontology.id }}Label">警告</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" style="text-align: center">
                                                    确定要删除此本体么？
                                                    <br>
                                                    <i style="font-size: 15px;color: red">如有重要信息请提前下载备份！</i>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">取消
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                            onclick="delete_card('card{{ ontology.id }}'); ">
                                                        确认
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if ontology.moderator_id == 0 %}
                                        <!-- 申请众包按钮 -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#label{{ ontology.id }}_cs" style="color:white;">
                                            众包
                                        </button>

                                        <!--申请众包model -->
                                        <div class="modal fade" id="label{{ ontology.id }}_cs" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1"
                                             aria-labelledby="label{{ ontology.id }}_csLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <br>
                                                        <br>
                                                        <h5 class="modal-title" id="label{{ ontology.id }}_csLabel">
                                                            注意</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" style="text-align: center">
                                                        此操作将会发布本体且被管理员管理！
                                                        <br>
                                                        <i style="font-size: 15px;color: red">此操作可能被管理员退回！</i>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">取消
                                                        </button>
                                                        <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal"
                                                                onclick="crowdsources({{ ontology.id }})">
                                                            确认
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                </nav>
                                <p class="font-italic text-muted">{{ ontology.intro }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}